* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #414141;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    width: 100vw;
    max-height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
    background-color: #2c2c2c;
    color: #eeece7;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}